.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.zeptoLogo {
  margin-top: 50px;
}

.searchContainer {
  width: 70%;
  background-color: white;
  border-radius: 25px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.selectedItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9E9E9;
  padding: 0px 20px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.selectedItem span {
  margin-left: 5px;
}

.closeIcon {
  margin-left: 10px;
  cursor: pointer;
}

.inputContainer {
  position: relative;
  width: 250px;
  margin-left: 10px;
}

.input {
  height: 45px;
  border: none;
  width: 100%;
} 

.input:focus {
  outline-width: 0;
}

.suggestionsContainer {
  position: absolute;
  background-color: white;
  width: 150%;
  margin-top: 10px;
  border-radius: 5px;
}

.suggestion {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #E9E9E9;
}

.suggestion span {
  margin-left: 10px;
}